{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <h1>{{ title }} {{ user.email }}</h1>
    {% if message %}
      <div class="alert alert-{{ message.status }}">
        {{ message.value }}
      </div>
    {% endif %}
    {% if !user %}
    <a href="/login" class="btn btn-info">Log In</a>
    <a href="/register" class="btn btn-primary">Register</a>
    {% else %}
    <a href="/logout" class="btn btn-danger">Logout</a>
    {% endif %}
  </div>

{% endblock %}
