{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">
    <legend>
      Log In
    </legend>
    <form class="form-horizontal" method="POST" action="/login">
      <input type="email" class="form-control" placeholder="Email Address" name="username" required />
      <input type="password" class="form-control" placeholder="Password" name="password" required />
      <button type="submit" class="btn btn-success">Submit</button>
      <span>Don't have an account?  <a href="/register">Create One Here</a></span>
    </form>
  </div>

{% endblock %}
