{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">
    <legend>
      Register
    </legend>
    {% if message %}
      <div class="alert alert-{{ message.status }}">
        {{ message.value }}
      </div>
    {% endif %}
      <form class="form-horizontal" method="POST" action="/register">
        <input type="email" class="form-control" placeholder="Email Address" name="username" required />
        <input type="password" class="form-control" placeholder="Password" name="password" required />
        <button type="submit" class="btn btn-success">Submit</button>
        <span>Already a user?  <a href="/login">Log In Here</a></span>
      </form>
    </div>

{% endblock %}
